# This is an example local.properties file.
sdk.dir=/path/to/android/sdk
keystore-debug.props.file=../.secrets/props/keystore-debug.properties
keystore-release.props.file=../.secrets/props/keystore-release.properties
app.props.file=../.secrets/props/app.properties
